
<% if params[:controller] == 'about' %>
<div class="well">
  <h3>Location Info</h3>
  <ul>
    <li>The Bookstore</li>
    <li>Leoforos Vasileos Alexandrou 6</li>
    <li>Athens, 16121</li>
  </ul>
</div>
<%end%>